body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Verdana', sans-serif;
  background-color: #000;
  color: #fff;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

canvas {
  display: block;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 9999;
}

.loading-section,
.loading-images-container {
  transform: translateY(10px);
  opacity: 1;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

.title {
  font-size: 2rem;
  margin: 0 5px;
}

.bracket {
  font-size: 1.5rem;
}

#loader {
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 5px;
}

.loading-images img {
  width: 4vw; /* Usando unidade de largura relativa à largura da viewport */
  height: 4vw;
  margin: 1vw; /* Margem relativa à largura da viewport */
  background-color: #fff;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-line {
  margin: 1vw; /* Margem relativa à largura da viewport */
}

.welcome-screen h1 {
  font-size: 2rem;
}

.loading-screen.hidden {
  display: none;
}

@media (max-width: 768px) {
  .loading-images img {
    width: 10vw;
    height: 10vw;
    margin: 2vw;
  }

  .bottom-line {
    margin: 2vw;
  }
}
